@use "colors" as *;
@use "mixin" as *;

.carte {
    @include carte_type(lighten($fond, 50%), 80px, 120px, 2px solid black, 50px, 50px);
    @include flex(column, space-between, center);
    border-radius: 5px;
    rotate: random(360) * 1deg;
    
    .up {
        @include flex(row, start, unset);
        width: 100%;
        padding-left: 5px;
    }
    .signe{
        font-size: 30px;
    }
    .down {
        @include flex(row, end, unset);
        width: 100%;
        padding-right: 5px;
    }
    .up_box {
        @include flex(column, unset, unset);
    }
    .down_box {
        @include flex(column, unset, unset);
    }
}