@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin carte_type($background-color, $width, $height, $border, $top, $left) {
    background-color: $background-color;
    width: $width;
    height: $height;
    border: $border;
    top: $top;
    left: $left;
}

@mixin position($top, $left) {
    top: $top * 1px;
    left: $left * 1px;
}

@mixin rotate($rotate) {
    rotate: $rotate * 1deg;
}