@use "cartes" as *;
@use "colors" as *;
@use "mixin" as *;
@use "sass:math";

* {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: $fond;
  height: 100%;
  @include flex(column, center, center);

  .air-de-jeu {
    @include flex(column, center, center);
    background-color: lighten($fond, 10%) ;
    width: 800px;
    height: 600px;
    border: 5px solid white;
    border-radius: 50px;
    position: relative;

    .main-adverse, .defausse, .main {
      width: 250px;
      height: 190px;
      border: 2px solid rgb(255, 255, 4);
      position: relative;
    }
  }

  .main {
    @for $i from 0 through 5 {
      .carte-#{$i + 1} {
        position: absolute;
        @if $i < math.div(6, 2) {
          @include position((6 - $i) * 10, 25 * $i);
        } @else {
          @include position($i * 15, 25 * $i);
        }
        @include rotate(-45 + (15 * $i));
      }
    }
  }

  .defausse {
    @for $ind from 0 through 2 {
      .carte-#{$ind + 1} {
        position: absolute;
        @include position(35, 75);
        rotate: random(360) * 1deg;
      }
    }
  }

  .main-adverse {
    @for $ind from 0 through 6 {
      .carte-#{$ind + 1} {
        position: absolute;
        @include position(35, 33 * $ind);
      }
    }
  }
}  