@use "cartes" as *;
@use "colors" as *;
@use "mixin" as *;

* {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: $fond;
  height: 100%;
  @include flex(column, center, center);

  .middle-section {
    background-color: lighten($fond, 10%) ;
    width: 800px;
    height: 600px;
    border: 5px solid white;
    border-radius: 50px;
    position: relative;
  }

  @for $i from 1 through 5 {
    .carte-#{$i + 1} {
      position: absolute;
      @include position(0 * $i, 35 * $i);
      @include rotate(8 * $i);
    }
  }
}