@use "cartes" as *;
@use "colors" as *;

body {
  background-color: $fond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .middle-section {
    background-color: lighten($fond, 10%) ;
    width: 800px;
    height: 600px;
    border: 5px solid white;
    border-radius: 50px;
    

  }
}